{% extends 'base.html' %}
{% block content %}

<h1>Review List</h1>


{% for review in object.review_set.all %}
  <a href="{% url 'reviews_detail' review.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ review.user }}</span>
        <p>Package: {{ review.package.name }}</p>
        <p>Rating: {{ review.get_rating_display }}</p>
        <p>Content: {{ review.content|linebreaks }}</p>
      </div>

      {% if user in review.likes.all %}
      <form action="{% url 'unlike_review' object.id review.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">❤️</button>
      </form>
      {% else %}
      <form action="{% url 'like_review' object.id review.id %}" method="POST">
          {% csrf_token %}
          <button type="submit">♡</button>
        </form>
      {% endif %}
      <p>Total Likes: {{review.likes.count}}</p>

    </div>
  </a>

{% endfor %}


{% endblock %}