{% extends 'base.html' %}
{% block content %}

<h1>Review Detail</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ review.user }}</span>
    <p>Package: {{ review.package.name }}</p>
    <p>Rating: {{ review.get_rating_display }}</p>
    <p>Content: {{ review.content|linebreaks }}</p>
  </div>
  {% if review.user == request.user %}
  <div class="card-action">
    <a href="{% url 'reviews_update' review.id %}">Edit</a>
    <a href="{% url 'reviews_delete' review.id %}">Delete</a>
  </div>
  {% endif %}
</div>

<div class="carousel carousel-slider">
  {% for photo in review.photo_set.all %}
    <img class="responsive-img card-panel carousel-item" src="{{photo.url}}">
  {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}
</div>

<script>
  M.AutoInit();
</script>

{% endblock %}