{% extends 'base.html' %}
{% block content %}

<h1>Review Detail</h1>

<div class="card review-card">
  <div class="card-content rev-info">
    <span class="card-title"><span class="card-header">User:</span> {{ review.user }}</span>
    <p class="rev-pkg"><span class="card-header">Package:</span> {{ review.package.name }}</p>
    <p class="rev-rtg"><span class="card-header">Rating:</span> {{ review.get_rating_display }}</p>
    <p class="rev-con"><span class="card-header">Content:</span> {{ review.content|linebreaks }}</p>
  </div>
  {% if review.user == request.user %}
  <div class="card-action card-buttons">
    <a href="{% url 'reviews_update' review.id %}">Edit</a>
    <a href="{% url 'reviews_delete' review.id %}">Delete</a>
  </div>
  {% endif %}
</div>

<div class="carousel carousel-slider">
  {% for photo in review.photo_set.all %}
    <div class="responsive-img card-panel carousel-item review-photo-div">
      <img class="review-photo" src="{{photo.url}}">
    </div>
  {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}
</div>

<script>
  M.AutoInit();
</script>

{% endblock %}