{% extends 'base.html' %}

{% block content %}
  <h1>About Astra</h1>
  <hr />
  <h4>Team Astra wants to provide a place to easily find tickets for your next trip to space!</h4>
  
  <section class="partner-box">
    <h5>Our Partners</h5>
    <section id="about-page">
      <img src="/static/images/blue_origin.jpeg" alt="blue">
      <img src="/static/images/spacex.jpeg" alt="spacex">
      <img src="/static/images/virgin galatics.png" alt="virgin">
    </section>
  </section>

{% endblock %}
  