{% extends 'base.html' %}
{% block content %}

<h1>Astra</h1>

<section class="search">
    <form action="{% url 'index' %}" method="get">
        <!-- {% csrf_token %} -->
        <div class="input-field search-form" >
            <input id="search" name="packages" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right"></i>
            </button>  
        </div>
    </form>
</section>

<section class="destination">
    <h4>Popular Destinations</h4>
    <ul>
        {% for dest in destinations %}
            <li><a href="{% url 'index' %}?destination={{ dest.0 }}">{{ dest.1 }}</a></li>
        {% endfor %}
    </ul>
</section>

<section class="experiences">
    <h4>Popular Experiences</h4>
    <ul>
        {% for exp in experiences %}
            <li><a href="{% url 'index' %}?experience={{ exp }}">{{ exp }}</a></li>
        {% endfor %}
    </ul>
</section>

{% endblock %}
