{% extends 'base.html' %}
{% block content %}

<h1>Astra</h1>

<section class="search">
    <form action="{% url 'index' %}" method="get">
        <!-- {% csrf_token %} -->
        <div class="input-field search-form" >
            <input id="search" name="packages" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right"></i>
            </button>  
        </div>
    </form>
</section>

<section class="destination">
    <h4>Popular Destinations</h4>
    <div class="carousel carousel-slider center" style="color: red">
        {% for dest in destinations %}
            <a class="carousel-item" href="{% url 'index' %}?destination={{ dest.0 }}">hello {{ dest.1 }}</a>
        {% endfor %}

    </div>
</section>

<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
</div>

<section class="experiences">
    <h4>Popular Experiences</h4>
    <ul>
        {% for exp in experiences %}
            <li><a href="{% url 'index' %}?experience={{ exp }}">{{ exp }}</a></li>
        {% endfor %}
    </ul>
</section>

<script>
    M.AutoInit();
    
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.carousel');
      var instances = M.Carousel.init(elems, options);
      var instance = M.Carousel.getInstance(elem);
    });

    var instance = M.Carousel.init({
        fullWidth: true,
        indicators: true
    });

</script>

{% endblock %}
